
BookStoreAPI/BookStoreUI/obj/BookStoreUI.csproj.nuget.g.targets
BookStoreAPI/BookStoreUI/obj/BookStoreUI.csproj.nuget.g.props
BookStoreAPI/BookStoreUI/obj/BookStoreUI.csproj.nuget.dgspec.json
BookStoreAPI/.vs/BookStoreAPI/v16/.suo
BookStoreAPI/.vs/BookStoreAPI/DesignTimeBuild/.dtbcache.v2
